In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nanda\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nanda\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nanda\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nanda\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nanda\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nanda\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd
print(pd.__version__)

2.2.3

In [54]:
df=pd.read_csv("C:/Anaconda/New folder/archive/jobs_dataset.csv")
df.head()

,company,rating,location,positionName,description,salary,url,jobType/0,jobType/1,jobType/2,jobType/3,searchInput/country,searchInput/position,externalApplyLink
0,Google,4.3,"San Bruno, CA","Senior Data Scientist, Research, YouTube Search",Note: By applying to this position you will ha...,"$166,000 - $244,000 a year",https://www.indeed.com/viewjob?jk=3129ec5dde24...,Full-time,NaN,NaN,NaN,US,Data Scientist,https://www.google.com/about/careers/applicati...
1,BAXTER,3.7,"Milwaukee, WI 53214",Senior AI Engineer - Data Scientist,This is where you save and sustain lives\n\nAt...,"$112,000 - $154,000 a year",https://www.indeed.com/viewjob?jk=19da1b85455c...,Full-time,NaN,NaN,NaN,US,Data Scientist,https://jobs.baxter.com/en/job/-/-/152/8298788...
2,Meta,4.2,"Redmond, WA","Audio Software Engineer, Applied Scientist","Redmond, WA • + 2 more•Full Time\nMessenger\nM...",$70.67 an hour,https://www.indeed.com/viewjob?jk=0b0b432e2a51...,Full-time,NaN,NaN,NaN,US,Data Scientist,https://www.metacareers.com/jobs/3101204833367...
3,Meta,4.2,"Bellevue, WA 98005","Software Engineer, Machine Learning","Bellevue, WA • Full Time\nMeta\nSoftware Engin...","$203,350 - $240,240 a year",https://www.indeed.com/viewjob?jk=08d2ef77c976...,Full-time,NaN,NaN,NaN,US,Data Scientist,https://www.metacareers.com/jobs/1096352489054...
4,Lockheed Martin,4.0,"Shelton, CT 06484",AI / Machine Learning Research Engineer (early...,"Job ID: 694362BR\nDate posted: May. 22, 2025\n...",NaN,https://www.indeed.com/viewjob?jk=e9aad7dcc34e...,Full-time,NaN,NaN,NaN,US,Data Scientist,https://click.appcast.io/t/V35efAz0-l7FWwo6IKe...

In [ ]:
#To remove null from a coloumn
df = df.dropna(subset=['jobType/1','jobType/2','jobType/3'])

In [53]:
df.head()

,company,rating,location,positionName,description,salary,url,jobType/0,jobType/1,jobType/2,jobType/3,searchInput/country,searchInput/position,externalApplyLink
269,a.i. service agents & automation,0.0,"Phoenix, AZ 85051",AI chatbot developer,*Overview*\nWe are seeking a skilled API Devel...,"$95,321.52 - $314,795.80 a year",https://www.indeed.com/viewjob?jk=079aaf926466...,Temporary,part-time,Full-time,Contract,US,Data Scientist,NaN

In [ ]:
#Convert all data into lower case
df['jobType/1'] = df['jobType/1'].str.lower()
df = df.dropna(subset=['company', 'jobType/1'])

In [ ]:
df['jobType/2'] = df['jobType/2'].str.lower()
df = df.dropna(subset=['company', 'jobType/2'])

In [ ]:
df['jobType/3'] = df['jobType/3'].str.lower()
#Removes columns have missing (null/NaN) values
df = df.dropna(subset=['company', 'jobType/3'])

In [37]:
#To remove null from a coloumn
df['company'] = df['company'].str.lower().str.strip()

In [38]:
#data Analysis
#Count jobs per city
count_city = df[]

,company,rating,location,positionName,description,salary,url,jobType/0,jobType/1,jobType/2,jobType/3,searchInput/country,searchInput/position,externalApplyLink
269,a.i. service agents & automation,0.0,"Phoenix, AZ 85051",AI chatbot developer,*Overview*\nWe are seeking a skilled API Devel...,"$95,321.52 - $314,795.80 a year",https://www.indeed.com/viewjob?jk=079aaf926466...,Temporary,part-time,full-time,contract,US,Data Scientist,NaN

In [56]:
#Count jobs per city
count_city = df['company'].value_counts()
count_city.head(10)

company
Amazon                                            24
Apple                                             20
Meta                                              20
Amazon.com Services LLC                           15
Google                                            14
Handshake                                         12
Wells Fargo                                       10
JPMorganChase                                     10
Amazon Web Services, Inc.                          9
Information Technology Senior Management Forum     8
Name: count, dtype: int64

In [57]:
ai_jobs = df[df['company'].str.contains('AI|Machine Learning', case=False)]

In [58]:
f"AI Jobs: {len(ai_jobs)}"

'AI Jobs: 24'